# Analiza Danych (Python) - Lekcja 0

1. [Praca w Jupyter Notebook](#1.-Praca-w-Jupyter-Notebook)
2. [Python: absolutne podstawy](#2.-Python:-absolutne-podstawy)
3. [pandas: absolutne podstawy](#3.-pandas:-absolutne-podstawy)
4. [Co musisz umieć przed Lekcją 1](#4.-Co-musisz-umieć-przed-Lekcją-1)
5. [Zadania follow-along](#5.-Zadania-follow-along)

# 1. Praca w Jupyter Notebook

To jest lekcja ratunkowa. Celem jest wejście na poziom, który pozwala samodzielnie ruszyć z Lekcją 1.

## Minimalna obsługa notebooka

- `Shift+Enter`: uruchamia komórkę i przechodzi niżej.
- `Ctrl+Enter`: uruchamia komórkę i zostaje w niej.
- `Kernel -> Restart & Run All`: uruchamia wszystko od początku (najlepszy test, czy notebook działa).
- `In [*]`: komórka nadal się wykonuje.
- Błędy czytaj od końca komunikatu (`NameError`, `TypeError`, `KeyError` to najczęstsze przypadki).

## Zasada pracy na tej lekcji

- kodujesz równolegle ze mną,
- po każdym zadaniu robimy checkpoint,
- jeśli coś nie działa, naprawiamy od razu, nie przechodzimy dalej.

# 2. Python: absolutne podstawy

Dziś potrzebujemy tylko tego, co konieczne do pracy z danymi:

- zmienne i typy (`int`, `float`, `str`, `bool`),
- kolekcje (`list`, `dict`),
- indeksowanie (`[]`),
- warunki (`if/else`) i pętle (`for`),
- funkcje (`def`, `return`).

# 3. pandas: absolutne podstawy

`pandas` to biblioteka do pracy tabelarycznej.

Najważniejsze obiekty:

- `Series`: pojedyncza kolumna,
- `DataFrame`: tabela (wiersze i kolumny).

Na start musisz umieć:

- utworzyć `DataFrame`,
- sprawdzić `shape`, `columns`, `dtypes`,
- wybrać kolumny i wiersze,
- filtrować po warunku,
- dodać nową kolumnę,
- rozpoznać i obsłużyć braki danych (`NaN`).

# 4. Co musisz umieć przed Lekcją 1

Po tej lekcji powinieneś/powinnaś umieć bez pomocy:

1. uruchomić notebook i kernel,
2. zaimportować `pandas` jako `pd`,
3. utworzyć prosty `DataFrame`,
4. wybrać kolumny/wiersze i przefiltrować dane,
5. tworzyć `DataFrame` ręcznie z list i słowników,
6. sprawdzić wynik przez `df.head()` i `df.info()`.

# 5. Zadania

Plan na 90 minut:

- 10 krótkich zadań,
- każde zadanie: cel -> wykonanie -> checkpoint,
- najpierw Python, potem `pandas`, na końcu ręczne budowanie tabel i czyszczenie.

To nie jest test. To trening operacyjny, żebyś umiał/a ruszyć dalej.

## Zadanie 1

Cel: oswojenie komórki kodu i działania `print`.

Instrukcja:

1. Oblicz `23 * 4 + 7`.
2. Zapisz wynik do zmiennej `score`.
3. Wypisz wartość zmiennej.

Wymagane funkcje:

- `print()`

Kryterium zaliczenia:

- widzisz poprawny wynik liczbowy i zmienną `score`.

Checkpoint:

- pokaż output komórki.

In [ ]:
score = 23 * 4 + 7
print(score)

99

## Zadanie 2

Cel: rozumienie typów danych i konwersji.

Instrukcja:

1. Utwórz: `a = 10`, `b = "10"`, `c = 10.5`.
2. Sprawdź typ każdej zmiennej.
3. Zamień `b` na `int` i policz `a + b`.

Wymagane funkcje:

- `type()`
- `int()`

Kryterium zaliczenia:

- poprawnie pokazane typy i wynik dodawania równy `20`.

Checkpoint:

- pokaż typy i wynik operacji.

Dokumentacja:

- https://docs.python.org/3/library/functions.html#type

In [ ]:
a = 10
b = "10"
c = 10.5
#type(a)
#type(b)
type(c)
b = int(b)
print(a+b)

20

## Zadanie 3

Cel: praca na liście i słowniku.

Instrukcja:

1. Utwórz listę: `oceny = [3.0, 4.0, 4.5, 5.0]`.
2. Dodaj do listy ocenę `3.5`.
3. Policz średnią przez `sum(...) / len(...)`.
4. Utwórz słownik `student` z kluczami: `imie`, `kierunek`, `ocena_srednia`.

Wymagane funkcje:

- `list.append()`
- `sum()`
- `len()`

Kryterium zaliczenia:

- lista ma 5 elementów,
- słownik zawiera klucz `ocena_srednia`.

Checkpoint:

- pokaż listę i słownik.

In [5]:
# Miejsce na Twoje rozwiązanie.
oceny = [3.0, 4.0, 4.5, 5.0]
oceny.append(3.5)
srednia = sum(oceny) / len(oceny)
student = {"imie": "Janusz", "kierunek": "AIK", "ocena_srednia": srednia}
student["plec"] = "mezczyzna"


#srednia

student

{'imie': 'Janusz',
 'kierunek': 'AIK',
 'ocena_srednia': 4.0,
 'plec': 'mezczyzna'}

## Zadanie 4

Cel: użycie warunku i pętli.

Instrukcja:

1. Ustaw: `punkty = [45, 67, 82, 39, 91]`.
2. Dla każdego wyniku wpisz do listy `status`:
   - `zaliczone` jeśli wynik >= 50,
   - `niezaliczone` w przeciwnym razie.
3. Policz, ile osób zaliczyło.

Wymagane konstrukcje:

- `for`
- `if/else`
- `list.append()`
- `list.count()`

Kryterium zaliczenia:

- lista `status` ma tyle elementów co `punkty`,
- liczba `zaliczone` jest poprawna.

Checkpoint:

- pokaż listę `status` i liczbę zaliczeń.

In [11]:
punkty = [45, 67, 82, 39, 91]
status = []

for x in punkty:
  if x >=50:
    status.append("ZALICZONE")
  else:
    status.append("NIEZALICZONE")
print(status.count("ZALICZONE"), len(status))

3 5

## Zadanie 5

Cel: napisanie pierwszej funkcji.

Instrukcja:

1. Zdefiniuj funkcję `policz_procent(punkty, maks=100)`.
2. Funkcja ma zwracać procent: `(punkty / maks) * 100`, zaokrąglony do 2 miejsc.
3. Uruchom funkcję dla `37`, `88`, `100`.

Wymagane funkcje:

- `def`
- `return`
- `round()`

Kryterium zaliczenia:

- funkcja zwraca poprawne wartości procentowe.

Checkpoint:

- pokaż definicję i trzy wyniki.

Dokumentacja:

- https://docs.python.org/3/tutorial/controlflow.html#defining-functions

In [ ]:
def policz_procent(punkty, maks=100):
  return round((punkty/maks) * 100, 2)
policz_procent(20,80) + 10

podwojenie = lambda x: x*2

35.0

## Zadanie 6

Cel: utworzenie pierwszego `DataFrame` i jego diagnostyka.

Instrukcja:

1. Zaimportuj `pandas` jako `pd`.
2. Utwórz słownik:
   - `imie`: `Ala`, `Bartek`, `Celina`, `Dawid`
   - `punkty`: `45`, `67`, `82`, `39`
   - `grupa`: `A`, `A`, `B`, `B`
3. Zbuduj `df = pd.DataFrame(...)`.
4. Sprawdź: `df.shape`, `df.columns`, `df.dtypes`.

Wymagane funkcje:

- `import pandas as pd`
- `pd.DataFrame()`
- `DataFrame.shape`
- `DataFrame.columns`
- `DataFrame.dtypes`

Kryterium zaliczenia:

- tabela ma rozmiar `4 x 3` i poprawne nazwy kolumn.

Checkpoint:

- pokaż `df`, `shape`, `columns` i `dtypes`.

Dokumentacja:

- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [1]:
import pandas as pd
slownik = {"imie": ["Ala", "Bartek", "Celina", "Dawid"], "punkty":[45,67,82,39],"grupa":["A","A","B","B"]}
dane_df = pd.DataFrame(slownik)
print(dane_df)

     imie  punkty grupa
0     Ala      45     A
1  Bartek      67     A
2  Celina      82     B
3   Dawid      39     B

## Zadanie 7

Cel: wybór kolumn i wierszy.

Instrukcja:

1. Pokaż tylko kolumny `imie` i `punkty`.
2. Pokaż pierwsze dwa wiersze przez `iloc`.
3. Pokaż osoby z grupy `B` i tylko kolumny `imie`, `punkty` przez `loc`.

Wymagane funkcje:

- `[]`
- `DataFrame.iloc`
- `DataFrame.loc`

Kryterium zaliczenia:

- wszystkie trzy podzbiory są poprawnie wyświetlone.

Checkpoint:

- pokaż wyniki trzech operacji.

Dokumentacja:

- https://pandas.pydata.org/docs/user_guide/indexing.html

In [41]:
dane_df[["imie","punkty"]]

dane_df.iloc[0:2]


dane_df.loc[dane_df["grupa"]=="B",["imie","punkty"]]

     imie  punkty
2  Celina      82
3   Dawid      39

## Zadanie 8

Cel: filtrowanie i sortowanie danych.

Instrukcja:

1. Utwórz `df_pass` z osobami, które mają `punkty >= 50`.
2. Utwórz `df_sorted` posortowane malejąco po `punkty`.
3. Policz średnią punktów w `df_pass`.

Wymagane funkcje:

- filtrowanie boolowskie
- `DataFrame.sort_values()`
- `Series.mean()`

Kryterium zaliczenia:

- `df_pass` zawiera tylko osoby z wynikiem >= 50,
- `df_sorted` jest posortowane poprawnie.

Checkpoint:

- pokaż `df_pass`, `df_sorted` i średnią punktów.

Dokumentacja:

- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

In [ ]:
df_pass = dane_df[dane_df["punkty"] >=50]
df_sorted = dane_df.sort_values(by="punkty",ascending=False)

srednia = df_pass.mean(numeric_only=True)

punkty    74.5
dtype: float64

In [60]:
Salaries = pd.read_csv("https://stat1.kursy.bartoszmackiewicz.pl/c/20/0/Salaries.csv")

Salaries

#rich_female_professors = Salaries[(Salaries["salary"] >100000) & (Salaries["sex"] == "Female")]
#rich_female_professors.shape[0]

avg = Salaries[(Salaries["yrs.since.phd"] >=10)]["salary"].mean()

avg

np.float64(120998.71875)

## Zadanie 9

Cel: dodanie kolumny i obsługa braków danych.

Instrukcja:

1. Dodaj kolumnę `obecny` z wartościami: `True`, `True`, `None`, `False`.
2. Dodaj kolumnę `procent` równą `punkty / 100 * 100`.
3. Utwórz `df_clean`, w którym `obecny` ma braki uzupełnione na `False`.
4. Sprawdź liczbę braków przez `isna().sum()`.

Wymagane funkcje:

- przypisanie kolumny `df[...] = ...`
- `DataFrame.fillna()`
- `DataFrame.isna()`
- `DataFrame.sum()`

Kryterium zaliczenia:

- `df_clean['obecny']` nie zawiera braków.

Checkpoint:

- pokaż `df_clean.head()` i wynik `df_clean.isna().sum()`.

Dokumentacja:

- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

In [ ]:
# Miejsce na Twoje rozwiązanie.

## Zadanie 10

Cel: spokojna dogrzewka przed Lekcją 1 bez importu plików.

Instrukcja:

1. Utwórz ręcznie nowy `DataFrame` `df2` z 6 wierszami i kolumnami:
   - `imie`
   - `czas_min` (czas nauki w minutach)
   - `grupa` (`A` lub `B`)
2. Dodaj kolumnę `czas_h`, która przelicza minuty na godziny (`czas_min / 60`).
3. Utwórz tabelę `podsumowanie` przez `groupby('grupa')` z:
   - średnim `czas_min`,
   - maksymalnym `czas_min`.
4. Posortuj `podsumowanie` malejąco po średnim czasie.

Wymagane funkcje:

- `pd.DataFrame()`
- przypisanie nowej kolumny
- `DataFrame.groupby()`
- `DataFrame.agg()`
- `DataFrame.sort_values()`

Kryterium zaliczenia:

- `df2` ma 6 wierszy,
- `podsumowanie` ma po jednym wierszu na grupę i poprawne agregacje.

Checkpoint:

- pokaż `df2.head()` oraz `podsumowanie`.

Dokumentacja:

- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

In [ ]:
# Miejsce na Twoje rozwiązanie.